*.xdmf
*.h5
*.png

*/CMakeCache.txt
*/CMakeFiles
*/Makefile
*/cmake_install.cmake

*/build

.DS_Store
*/.DS_Store
*/*/.DS_Store

/.quarto/
_site/
**/*.quarto_ipynb
.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/__pycache__/
